@model IEnumerable<University.MVC.ViewModels.Marks.MarkListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAwarded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTopic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFullName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
