@model University.MVC.ViewModels.Halls.HallDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Hall Details</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
